In [1]:
# Import modules/dependencies
import pandas as pd
import json
from datetime import datetime

### Reading in data
<p>The <a href="https://www.kaggle.com/rounakbanik/the-movies-dataset?select=credits.csv">dataset</a> was obtained from Kaggle and consists of the following files:<p>

* **movies_metadata.csv**: The main Movies Metadata file. Contains information on 45,000 movies featured in the Full MovieLens dataset. Features include posters, backdrops, budget, revenue, release dates, languages, production countries and companies.

* **keywords.csv**: Contains the movie plot keywords for our MovieLens movies. Available in the form of a stringified JSON Object.

* **credits.csv**: Consists of Cast and Crew Information for all our movies. Available in the form of a stringified JSON Object.

* **links.csv**: The file that contains the TMDB and IMDB IDs of all the movies featured in the Full MovieLens dataset.

* **links_small.csv**: Contains the TMDB and IMDB IDs of a small subset of 9,000 movies of the Full Dataset.

* **ratings_small.csv**: The subset of 100,000 ratings from 700 users on 9,000 movies.

In [2]:
credits = pd.read_csv("../prj_2_own/data/credits.csv")
keywords = pd.read_csv("../prj_2_own/data/keywords.csv")
# links = pd.read_csv("../prj_2_own/data/links.csv") ------------------ not usful info
# links_small = pd.read_csv("../prj_2_own/data/links_small.csv") ------ not usful info
movies_meta = pd.read_csv("../prj_2_own/data/movies_metadata.csv", low_memory=False)
ratings = pd.read_csv("../prj_2_own/data/ratings.csv")
ratings_small = pd.read_csv("../prj_2_own/data/ratings_small.csv")

### Exploring data

In [3]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [4]:
keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [5]:
movies_meta.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [6]:
# Review all available columns in movies metadata table
print(f"Number of columns:\t{len(movies_meta.columns)}")
print("Column names:", end="\t\t")
for column in movies_meta.columns:
    print(column, end=", ")

Number of columns:	24
Column names:		adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count,

In [7]:
movies_meta.iloc[:,:11].head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519

In [8]:
movies_meta.iloc[:,12:].head()

,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [9]:
# See number of records in ratings data table
print(f"Total number of ratings records:\t {ratings.shape[0]}")

# View ratings table
ratings.head()

Total number of ratings records:	 26024289

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [10]:
print(ratings.count(), ratings['userId'].nunique())

userId       26024289
movieId      26024289
rating       26024289
timestamp    26024289
dtype: int64 270896

### Transforming data

In [11]:
# Convert ratings timestamp to date

In [12]:
# Create custom function to convert time data
def convert_tstamp_to_date(x):
    y = datetime.fromtimestamp(x).strftime('%Y-%m-%d')
    return y

# Test if the function works
convert_tstamp_to_date(ratings['timestamp'][0])

'2015-03-09'

In [13]:
ratings['date']=ratings['timestamp'].apply(convert_tstamp_to_date)
ratings

          userId  movieId  rating   timestamp        date
0              1      110     1.0  1425941529  2015-03-09
1              1      147     4.5  1425942435  2015-03-09
2              1      858     5.0  1425941523  2015-03-09
3              1     1221     5.0  1425941546  2015-03-09
4              1     1246     5.0  1425941556  2015-03-09
...          ...      ...     ...         ...         ...
26024284  270896    58559     5.0  1257031564  2009-10-31
26024285  270896    60069     5.0  1257032032  2009-10-31
26024286  270896    63082     4.5  1257031764  2009-10-31
26024287  270896    64957     4.5  1257033990  2009-10-31
26024288  270896    71878     2.0  1257031858  2009-10-31

[26024289 rows x 5 columns]

In [14]:
# From the movie_meta df select and transform only columns 
# that include json format nestedentries

movie_meta_transformed = []
for i, row in movies_meta.iterrows():
    #     print(f"Processing ---  Row {i}")
    
    # Parsing collections data    
    coll_data = row['belongs_to_collection']
    try :
        coll_id   = json.loads(coll_data.replace("'",'"'))['id']
        coll_name = json.loads(coll_data.replace("'",'"'))['name']
        coll_poster = json.loads(coll_data.replace("'",'"'))['poster_path']
    except :
        coll_id=row['belongs_to_collection']
        coll_name=row['belongs_to_collection']
        coll_poster=row['belongs_to_collection']
    
    # Parsing production companies
    prod_comp_data = row['production_companies']
    
    try :
        prod_comp_name = []
        prod_comp_name_str = ""
        counter=0
        for comp_name in json.loads(prod_comp_data.replace("'",'"')):
            name=comp_name['name']
            prod_comp_name.append(name)
            if counter == 0:
                prod_comp_name_str += f"{name}"
                counter += 1
            else :
                prod_comp_name_str += f", {name}"
    except:
        prod_comp_name_str = row['production_companies']
    
    # Parsing production countries
    prod_count_data = row['production_countries']
    
    try :
        prod_count_name = []
        prod_count_name_str = ""
        counter=0
        for count_name in json.loads(prod_count_data.replace("'",'"')):
            name = count_name['name']
            abb  = count_name['iso_3166_1']
            prod_count_name.append(name)
            if counter == 0:
                prod_count_name_str += f"{name}"
                counter += 1
            else :
                prod_count_name_str += f", {name}"
    except :
        prod_count_name_str = row['production_countries']
        abb = ""
    
    # Pull row data into dictionary
    movies_dic={
        "movieId":           row['id'],
        "collectionId":      coll_id,
        "collectionName":    coll_name,
        'productionCompanies':
                             prod_comp_name_str,
        'productionCountries':
                             prod_count_name_str, 
        'countryAbb':        abb,
        # additionally parse out release year
        'releaseYear':       str(row['release_date']).split('-')[0]
    }
    
    movie_meta_transformed.append(movies_dic)

movie_meta_transformed = pd.DataFrame(movie_meta_transformed)
movie_meta_transformed.head()

,movieId,collectionId,collectionName,productionCompanies,productionCountries,countryAbb,releaseYear
0,862,10194,Toy Story Collection,Pixar Animation Studios,United States of America,US,1995
1,8844,NaN,NaN,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,US,1995
2,15602,119050,Grumpy Old Men Collection,"Warner Bros., Lancaster Gate",United States of America,US,1995
3,31357,NaN,NaN,Twentieth Century Fox Film Corporation,United States of America,US,1995
4,11862,96871,Father of the Bride Collection,"Sandollar Productions, Touchstone Pictures",United States of America,US,1995

In [15]:
#  Displaying unique counts of movies, collections, production companies and countries
# also 139 year of movie history (!!!!!)
pd.DataFrame(movie_meta_transformed.describe().loc['unique'])

                    unique
movieId              45436
collectionId          1698
collectionName        1698
productionCompanies  22672
productionCountries   2393
countryAbb             140
releaseYear            139

In [16]:
# Extract all possible genres
all_genres=[]
for i, row in movies_meta.iterrows():
    #     print(f"Processing ---  Row {i}")
    
    # Parsing genres data
    genres_data = row['genres']
    
    try :
        for genre in json.loads(genres_data.replace("'",'"')):
            name = genre['name']
            
            if name not in all_genres:
                all_genres.append(name)
    except :
        print("hi")

len(all_genres)

32

In [17]:
# Extract all possible collections
all_collections=[]
for i, row in movies_meta.iterrows():
    #     print(f"Processing ---  Row {i}")
    
    # Parsing genres data
    coll_data = row['belongs_to_collection']
    
    try :
        name = json.loads(coll_data.replace("'",'"'))['name']
        if name not in all_collections:
            all_collections.append(name)
    except :
        all_collections = all_collections

len(all_collections)

1078

In [18]:
# Import sqlalchemy engine
from sqlalchemy import create_engine

In [19]:
# setup connection
rds_connection_string = "postgres:postgres@localhost:5432/movielens"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [20]:
#  review table names
engine.table_names()

['movie_meta']

In [21]:
# convert table column names to lowercase
movie_meta_transformed.columns = movie_meta_transformed.columns.str.lower()

In [22]:
# exclude rows containing dates in movieid column
movie_meta_transformed=movie_meta_transformed[~movie_meta_transformed['movieid'].str.contains('-')]

In [23]:
# typecase movieid column as integer
movie_meta_transformed['movieid']=movie_meta_transformed['movieid'].astype('int64')

In [24]:
# sort df by movieid
movie_meta_transformed.sort_values(by=['movieid'], ascending=True)

,movieid,collectionid,collectionname,productioncompanies,productioncountries,countryabb,releaseyear
4342,2,NaN,NaN,"Villealfa Filmproduction Oy, Finnish Film Foun...",Finland,FI,1988
12947,3,NaN,NaN,Villealfa Filmproduction Oy,Finland,FI,1986
17,5,NaN,NaN,"Miramax Films, A Band Apart",United States of America,US,1995
474,6,NaN,NaN,"Universal Pictures, Largo Entertainment, JVC E...","Japan, United States of America",US,1993
256,11,10,Star Wars Collection,"Lucasfilm, Twentieth Century Fox Film Corporation",United States of America,US,1977
...,...,...,...,...,...,...,...
45078,465044,NaN,NaN,,United Kingdom,GB,2017
45273,467731,NaN,NaN,,United States of America,US,1956
21891,468343,NaN,NaN,,Finland,FI,1956
45398,468707,NaN,NaN,Elokuvayhtiö Oy Aamu,Finland,FI,2017
20189,469172,NaN,NaN,"[{'name': ""Institut National de l'Audiovisuel ...","France, Portugal",PT,1984

In [25]:
# drop collectionid column
movie_meta_transformed_2=movie_meta_transformed[['movieid', 'collectionname', 'productioncompanies',
       'productioncountries', 'countryabb', 'releaseyear']]

In [26]:
# replace 'nan' entries within 'releaseyear' column to NULL/NAN
movie_meta_transformed_2['releaseyear'] = pd.to_numeric(movie_meta_transformed_2['releaseyear'], errors="coerce")
movie_meta_transformed_2

<ipython-input-26-6441b67facbe>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_meta_transformed_2['releaseyear'] = pd.to_numeric(movie_meta_transformed_2['releaseyear'], errors="coerce")

,movieid,collectionname,productioncompanies,productioncountries,countryabb,releaseyear
0,862,Toy Story Collection,Pixar Animation Studios,United States of America,US,1995.0
1,8844,NaN,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,US,1995.0
2,15602,Grumpy Old Men Collection,"Warner Bros., Lancaster Gate",United States of America,US,1995.0
3,31357,NaN,Twentieth Century Fox Film Corporation,United States of America,US,1995.0
4,11862,Father of the Bride Collection,"Sandollar Productions, Touchstone Pictures",United States of America,US,1995.0
...,...,...,...,...,...,...
45461,439050,NaN,,Iran,IR,NaN
45462,111109,NaN,Sine Olivia,Philippines,PH,2011.0
45463,67758,NaN,American World Pictures,United States of America,US,2003.0
45464,227506,NaN,Yermoliev,Russia,RU,1917.0
45465,461257,NaN,,United Kingdom,GB,2017.0

In [27]:
# drop duplicate rows from df based on movieid column
movie_meta_transformed_3=movie_meta_transformed_2.drop_duplicates(subset='movieid')
movie_meta_transformed_3

,movieid,collectionname,productioncompanies,productioncountries,countryabb,releaseyear
0,862,Toy Story Collection,Pixar Animation Studios,United States of America,US,1995.0
1,8844,NaN,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,US,1995.0
2,15602,Grumpy Old Men Collection,"Warner Bros., Lancaster Gate",United States of America,US,1995.0
3,31357,NaN,Twentieth Century Fox Film Corporation,United States of America,US,1995.0
4,11862,Father of the Bride Collection,"Sandollar Productions, Touchstone Pictures",United States of America,US,1995.0
...,...,...,...,...,...,...
45461,439050,NaN,,Iran,IR,NaN
45462,111109,NaN,Sine Olivia,Philippines,PH,2011.0
45463,67758,NaN,American World Pictures,United States of America,US,2003.0
45464,227506,NaN,Yermoliev,Russia,RU,1917.0
45465,461257,NaN,,United Kingdom,GB,2017.0

In [28]:
# push df to postgresql database movie_meta
movie_meta_transformed_3.to_sql(name='movie_meta', con=engine, if_exists='append', index=False)

In [ ]:
movie_meta_transformed_3.to_csv("movie_meta_IM.csv", index=False)