In [2]:
# Dependencies
import pandas as pd
import scipy.stats as st
import numpy as np

In [3]:
# ratings file
rating = pd.read_csv('../Movies_datasets/ratings.csv')
rating.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [4]:
rating_df = pd.DataFrame(rating)
rating_df = rating[['movieId','rating']]
rating_df.head()

   movieId  rating
0      110     1.0
1      147     4.5
2      858     5.0
3     1221     5.0
4     1246     5.0

In [5]:
rating_df.rename(columns={'movieId':'id'}, inplace=True,)
rating_df.head()

C:\Users\uldom\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

     id  rating
0   110     1.0
1   147     4.5
2   858     5.0
3  1221     5.0
4  1246     5.0

In [7]:
# Average rating by movie id
rating_df = rating_df.groupby('id')['rating'].mean()
rating_df

id
1         3.888157
2         3.236953
3         3.175550
4         2.875713
5         3.079565
            ...
176267    4.000000
176269    3.500000
176271    5.000000
176273    1.000000
176275    3.000000
Name: rating, Length: 45115, dtype: float64

In [ ]:
# review