In [2]:
# Dependencies
import pandas as pd

In [9]:
# budget and revenue data
data = pd.read_csv('..\Movies_datasets\movies_metadata.csv')
data = pd.DataFrame(data)
data = data[['id','title','budget','revenue']]
data.head()

C:\Users\uldom\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

      id                        title    budget      revenue
0    862                    Toy Story  30000000  373554033.0
1   8844                      Jumanji  65000000  262797249.0
2  15602             Grumpier Old Men         0          0.0
3  31357            Waiting to Exhale  16000000   81452156.0
4  11862  Father of the Bride Part II         0   76578911.0